@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  @apply text-slate-900 antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent;
}
